.DS_Store
.Trash/
.ansible/
.bash_history
.bashrc
.boto
.cache/
.cargo/
.clojure/
.config/
.degit/
.dlv/
.docker/
.fzf.bash
.fzf.zsh
.gitlibs/
.gitmessage.bak
.gnupg/
.gsutil/
.ipython/
.jupyter/
.kube/
.lesshst
.local/
.m2/
.matplotlib/
.node_repl_history
.npm/
.nvm/
.oh-my-zsh/
.oracle_jre_usage/
.postman/
.profile
.psql_history
.python_history
.rustup/
.secrets
.skaffold/
.sonarlint/
.ssh/
.subversion/
.terraform.d/
.terrascan/
.vim/
.viminfo
.vscode-insiders/
.vscode/
.yarnrc
.zsh_history
.zsh_sessions/
.zshenv
.zshrc.backup
.composer/
.php_history
.rediscli_history
.zcompdump*
Applications/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
go/
google-cloud-sdk/
