.CFUserTextEncoding
.DS_Store
.bash_history
.bashrc
.boto
.config/
.docker/
.fzf.bash
.fzf.zsh
.gitconfig
.gsutil/
.kube/
.local/
.ssh/
.viminfo
.vscode/
.zcompdump
.zprofile
.zsh_history
.zsh_sessions/
Code/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/
getting-started/
