# This is Git's per-user configuration file.
[user]
	name = Bharat Kunwar
	email = brtknr@icloud.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOzqpG9N2Zjnb45cYUgtm1R3PrTJZhB+cUcFbqoijzWn brtknr@MacBook
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[alias]
	please = push --force-with-lease
	appraise = !/Users/brtknr/go/bin/git-appraise
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/brtknr/.ssh/allowed_signers
[merge]
	conflictstyle = zdiff3
[includeIf "gitdir:~/Desktop/two/"]
	path = ~/Desktop/two/.gitconfig
